body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.lien{
    display : flex;
    justify-content: right;
    margin: 6px;
}

.div-section1{
    display: flex;
    background-color: #8d4ed9;
    align-items: center;
}
.img-home{
    width: 20%;
    padding: 35px;
    justify-content: center;
}


.div-section1-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-section1{
    background-color: #b5380e;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
.button-section1:hover{
    background-color: #5380ed;
    color: white;
    cursor: pointer;
    transform: 0.3s;

}
.h5-titre1{
    background-color: midnightblue;
    color: white;
    display: flex;
    padding: 1px;
    margin: 1px;
    width: 139px;
}

.h5-titre2{
    background-color: midnightblue;
    color: white;
    display: flex;
    padding: 1px;
    margin: 1px;
    width: 258px;
}
.p-section1{
    color: white;
    margin: 3px;
}

.p-section2{
    display: flex;
    color: black;

}
.div-section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.Lorem-Ipsum{
    display: flex;
}
.Lorem-Ipsum-div{
    padding: 10px;
}
.portfolio{
    display: flex;
    flex-direction: column;
    width: 180px;
 }


.footer-div{
    display: flex;
    background-color: lightgray;
}