body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.lien{
    display : flex;
    justify-content: right;
    margin: 6px;
}
/*=====================section===============*/
.div-section1{
    display: flex;
    background-color: #5c11b5;
    align-items: center;
}
.img-home{
    width: 20%;
    padding: 35px;
    justify-content: center;
}

.div-section1-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-section1{
    background-color: #b5380e;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
.button-section1:hover{
    background-color: #5380ed;
    color: white;
    cursor: pointer;
    transform: 0.3s;

}
.h5-titre1{
    background-color: midnightblue;
    color: white;
    display: flex;
    padding: 1px;
    margin: 1px;
    width: 139px;
}

.h5-titre2{
    background-color: midnightblue;
    color: white;
    display: flex;
    padding: 1px;
    margin: 1px;
    width: 258px;
}
.p-section1{
    color: white;
    margin: 3px;
}
/*=====================section===============*/
.p-section2{
    display: flex;
    color: black;

}
.div-section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.Lorem-Ipsum{
    display: flex;
}
.Lorem-Ipsum-div{
    padding-right: 28px;
    padding-left: 12px;
}
.portfolio{
    display: flex;
    flex-direction: column;
    width: 200px;
 }
.p-section21{
    display: flex;
    justify-content: center;
    color:rebeccapurple;
    margin: 0px;
    margin-bottom: 80px;
}
/*=====================section===============*/
.section3-div{
    display: flex;
    justify-content: center;
}
.portfolio-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px;
}
.p-section2{
    font-size: x-small;
}
h6{
    padding: 0px   ;
    margin: 0px;
}
.portfolio1{
    display: flex;
    align-items: center;
}
.portfolio2{
    display: flex;
    align-items: center;
}
.footer-div{
    display: flex;
    background-color: lightgray;
}