body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-size: x-small;
    padding: 10px;
}
.lien{
    display : flex;
    justify-content: right;
    margin: 6px;
}
/*=====================section===============*/
.div-section1{
    display: flex;
    background-color: #5c11b5;
    align-items: center;
}
.img-home{
    width: 20%;
    padding: 35px;
    justify-content: center;
}

.div-section1-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-section1{
    background-color: #b5380e;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
.button-section1:hover{
    background-color: #5380ed;
    color: white;
    cursor: pointer;
    transform: 0.3s;

}
.h5-titre1{
    background-color: midnightblue;
    color: white;
    display: flex;
    padding: 1px;
    margin: 1px;
    width: 139px;
}

.h5-titre2{
    background-color: midnightblue;
    color: white;
    display: flex;
    padding: 1px;
    margin: 1px;
    width: 258px;
}
.p-section1{
    color: white;
    margin: 3px;
}
/*=====================section===============*/
.p-section2{
    display: flex;
    color: black;
    font-size: x-small;

}
.div-section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.Lorem-Ipsum{
    display: flex;
}
.Lorem-Ipsum-div{
    padding-right: 28px;
    padding-left: 12px;
}
.portfolio{
    display: flex;
    flex-direction: column;
    width: 200px;
 }
.p-section21{
    display: flex;
    justify-content: center;
    color:rebeccapurple;
    margin: 0px;
    margin-bottom: 80px;
}

.section3-div{
    display: flex;
    justify-content: center;
}
.portfolio-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px;
}
.p-section2{
    font-size: x-small;
}
h6{
    padding: 0px   ;
    margin: 0px;
    font-size: x-smaller;
}
.portfolio1{
    display: flex;
    align-items: center;
}
.portfolio2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio3{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*=====================section===============*/
#section4{
    display: flex;
    background-color: #d3d3d352;
    flex-direction: column ;
    width: 800px;
    height: 640px;
    margin-left: 350px;
    margin-right: 170px;
    margin-top: 100px;
    margin-bottom: 150px;

}
.section4-div11{
    display: flex;
    justify-content: center;
}
.section4-div1{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    margin: 39px;
}
.titre-vignette-section4{
    display: flex;
    color: black;
    font-size: x-small;
}
.section4-div1-text{
    display: flex;
    background-color: white;
    flex-direction: column;
    color: grey;
    font-size: x-small;
    border-radius: 10px;
    padding: 13px;
}
.portfolio4{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

/*=====================footer===============*/

.footer-div{
    display: flex;
    background-color: lightgray;
    justify-content: space-evenly;
}
.footer-div1-icon-1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.footer-div1-icon-2{
    justify-content: space-around;
    display: flex;
}
.footer-div1{
    display: flex;
    flex-direction: column;
}
.footer-lien{
    display: flex;
    font-size: small;
}
.footer-div1-last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#p-footer{
    display: flex;
    margin: 24px;
    font-size: small;
}